
  <article class="post">
    <div class="title">
      <h3 class="blogtitle">{{title}}</h3>
      <p class="blogcontent">{{post_content}}</p>
    </div>
    <div class="meta">
      <a href="/blogpost/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </article>
